{
  "presets": [
    [
      "env",
      {
        "targets": {
          "ie": 9
        },
      }
    ]
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ],
    [
      "transform-regenerator",
      {
        "async": false
      }
    ],
    "transform-flow-strip-types"
  ]
}
